* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
#navigationbar {
  height: 90px;
  background-color: rgb(77, 77, 135);
  display: flex;
  justify-content: space-between;
}
#navigationbar h1 {
  margin-left: 50px;
  margin-top: 20px;
  color: white;
  font-weight: 800;
}
#navigationbar button {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 11px;
  margin: 20px;
  cursor: pointer;
  font-weight: 700;
}
#outContainer {
  height: 510px;
  background-color: rgb(243, 235, 235);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#inContainer {
  margin-top: 10px;
  height: 450px;
  background-color: white;
  width: 700px;
  border-radius: 7px;
  overflow: auto;
}
#inContainer::-webkit-scrollbar {
  width: 0.1em;
  background-color: transparent;
}

#inContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.singlepost {
  display: flex;
  height: auto;
  border: 1px solid black;
  border-radius: 7px;
}
.voteContainer {
  margin: 20px;
  height: 80px;
  width: 80px;
  display: flex;
}
.buttonContainer button {
  display: block;
  margin: 5px;
}
.buttonContainer span {
  margin: 15px;
}
.postText {
  margin-top: 20px;
  overflow-wrap: break-word;
  width: 555px;
  height: auto;
}
